#add_msg{
	width: 800px;
	margin: 100px auto;
	.add_new{
		color: #555555;
		padding-bottom: 5px;
		border-bottom:1px solid #555555 ;
	}
	div{
		margin-top: 20px;
		
	}
	.push{
		margin-top: 10px;
		display: block;
		color: #555555;
		height: 40px;
		text-align: center;
		line-height: 40px;
		border-radius: 5px;
		text-decoration: none;
		background-color: #58bc58;
	}
}
