html,body{overflow:hidden;}
#embed{position:absolute; left: -100000px; overflow:hidden; }
#proceeds{
    padding-left:180px;
    height: 100%;
}
.breadcrumb{ 
    height: 34px;
    position: relative;
    border-radius: 0px;
    padding:6px 10px ;
    margin: 2px 0px 10px 5px;
    border-bottom:1px solid #ccc;
}
.breadcrumb li{
    float: left;
}
.breadcrumb li a{
    color:#333;
}
.breadcrumb li.ip{float: right; margin-right:10px;}
/*表格*/
/*table.table{ height: 100%;}*/

.put{border:0 none; }

/*操作部分*/
.op{padding-left:5px; position:absolute; bottom:0px; height: 25%; background: #f5f5f5;  display:flex; border-top:2px solid #ccc; }
.op input{ margin-top:5px; height: 30px; width: 95%;}
.op span{width: 90px; display:inline-block; font-size:16px; font-weight:900; margin-top:5px;}
.money{width:28%; float: left;}
.front{width:28%;float: left;}
.click{width:44%; padding: 10px 0 0 20px; float: left;}
.click button{width: 40%; margin:10px; height: 40px; font-size:21px; }


/*弹窗*/
.zhezhao{width: 2500px; height: 2500px;position:relative; left: -800px;top: -500px;background: #222; opacity:0.3; z-index:1; display:none;}
.way{
    width: 500px;height: 300px;
    border:1px solid #ccc;
    border-radius:12px;
    padding:10px;
    background: #fcfcfc; 
    transform:translate(-35%,-100%);
    text-align:center;
    display:none;
    z-index:2;
}

.way a{color:#111; text-decoration:none;}
.way h2{margin-bottom:15px;}
.way button{margin:10px 0;}

#eE{
    width: 200px;height: 200px;
    border:1px solid #ccc;
    border-radius:12px;
    padding:10px;
    background: #fcfcfc; 
    position:relative;
    transform:translate(-80%,-150%);
    text-align:center;
    display:none;
    z-index:3;
}
#eE button {
    margin-top:100px;
}

#queren{
    display:none;
    margin-top:60px;
}
