html,body{height: 100%;}
h1{
    height: 62px; 
    background: #1A2732;
    color: #fff;
    padding: 0 20px;
    /*height: 50px;*/
    line-height: 50px;
    font-size: 30px;

    position: relative;
    margin-bottom: 0px;
    margin-top:0px;
    border-bottom:2px solid #fff;
    border-left:6px solid #000;
    border-right:6px solid #000;
    border-top:6px solid #FF9326;
}
#Lnav{width: 180px;height: 100%;    background: rgb(46, 59, 70); float: left;}
#Lnav .lnav{
    width: 180px;
}

#Lnav .lnav>li>a{
        /*background: rgb(46, 59, 70);*/
    cursor:pointer;
}
#Lnav .lnav>li .xia{
    float:right;
    display:block;
    padding-right:10px;
    padding-top:13px;
    color:#fff;
}
#Lnav .lnav li a{
    height: 52px;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    padding: 15px 0px 15px 10px;
    outline: none;
    transition: all 0.3s ease;
    border-right: 1px solid rgb(215, 215, 215);
    border-bottom: 1px solid rgb(215, 215, 215);

}
#Lnav2{background: #ccc; display:none;}

#Lnav2 dt{
    padding: 8px 0px 8px 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background: #394A59;
    border-bottom:1px solid #fff; 
}
#Lnav2 a{color:#fff;}

/*-------------*/
